h1{
    font-size: large;
    font-weight: 600;
}

label{
    font-weight: 600;
}


@media (min-width: 820px) AND (max-width: 1680px)
{
    .comboBoxSize{
       width: 289px;
    }
}


@media (min-width: 1680px)
{
    .comboBoxSize{
       width: 289px;
    }
}