:root{
    --lightBrown:#833A06;
    --white:#ffffff;
	--lightGolden:#FFFAEC;
	--lightGrey:#818181;
	--primary:#082E44;
	--lightSkyBlue:#E9F3FF;
	--skyBlue:#0284DD;
}
.horizontalContainer{
    background-color:var(--primary);
    width:976px;
    height:128px;
    radius:8px;
    border-radius: 8px;
    overflow:hidden;
    margin-top:10px;
}
.mainContainer{
    width:976px; 
    height:674px; 
    top:104px; 
    margin-left:1%;
}
.overlapContainer{
    position: relative;
    height: 1138px;
    top: -747px;
    left: -280px;
    background-color:#A28C4F ;
    border-radius:50%;
    
}
.textHeading {
  /*font-family: 'DM Sans';  */
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
}
.subHeading {
	font-size:15px;
    color: #ffffff;
}
.card1{
    margin-bottom:4%;
}
.Description{
   
    margin-left: 3%;
    line-height:30px;
    margin-top: -10%;
    position: relative;
}

.TopTitle {
    color: var(--primary);
    font-size: 24px; 
    font-weight: 500; 
    word-wrap: break-word; 
    padding: 0.3%; 
}
.payNowButton{
    margin-top: -5%;
    float: right;
    border: 1px transparent;
    border-radius: 8px;
    width: 106px;
    height: 40px;
    gap:10px;
}

.downloadButton{
    background:var(--primary) !Important;
	color:var(--white);
	border:none !Important;
	padding:0 5px 0 5px !Important;
}
.align{
	display:flex;
}
.h5{
	color:var(--primary); !Important;
}